* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-content: center;
    background-color: #222;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    aspect-ratio: 16 / 6;
    background-color: #ffffff;
    overflow: hidden;
}

main > section {
    grid-column: 1;
    grid-row: 1;
}