* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-content: center;
    background-color: #222;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    height: 100vh;
}

strong {
    font-weight: 600;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    aspect-ratio: 16 / 6;
    background-color: #ffffff;
    overflow: hidden;
}

main > section {
    grid-column: 1;
    grid-row: 1;
}

#layer-space-time {
    display: flex;

    .navigation-and-data-wrapper {
        flex: 1;
        display: flex;
        align-items: flex-end;

        .navigation-data-layout {
            flex: 1;
            display: flex;
            justify-content: space-between;
            gap: 24px;

            .navigation-container {
                display: flex;
                gap: 2px;

                .nav-item {
                    text-decoration: none;
                    color: inherit;
                }
            }

            .space-time-display {
                .data-containers {
                    display: flex;
                    gap: 2px;

                    .space-container {
                        display: flex;
                        gap: 2px;
                        align-items: center;
                        padding: 12px;

                        .coordinate-group {
                            display: flex;
                            gap: 6px;

                            .x-group,
                            .y-group {
                                display: flex;
                                gap: 0;
                            }
                        }
                    }

                    .time-container {
                        display: flex;
                        gap: 6px;
                        align-items: center;
                        padding: 12px;

                        .date-group {
                            display: flex;
                            gap: 2px;
                        }

                        .time-group {
                            display: flex;
                            gap: 2px;
                        }
                    }
                }
            }
        }
    }
}