* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-content: center;
    background-color: #222;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    height: 100vh;
}

strong {
    font-weight: 600;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    aspect-ratio: 16 / 6;
    background-color: #ffffff;
    overflow: hidden;
}

main > section {
    grid-column: 1;
    grid-row: 1;
}

#layer-menu-text-background {
    font-family: 'Barlow Condensed', sans-serif;
}

#layer-space-time {
    display: flex;

    .navigation-and-data-wrapper {
        flex: 1;
        display: flex;
        align-items: flex-end;

        .navigation-data-layout {
            flex: 1;
            display: flex;
            justify-content: space-between;
            gap: 24px;

            .navigation-container {
                display: flex;
                gap: 2px;

                .nav-item {
                    padding: 12px;
                    background: none;
                    border: none;
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;

                    .nav-text-normal {
                        grid-column: 1;
                        grid-row: 1;
                        opacity: 1;
                        letter-spacing: -0.05em;
                        text-transform: uppercase;
                        transform: translateY(0);
                        transition: opacity 0.3s, transform 0.3s;
                    }

                    .nav-text-bold {
                        grid-column: 1;
                        grid-row: 1;
                        opacity: 0;
                        font-weight: 600;
                        letter-spacing: -0.05em;
                        text-transform: uppercase;
                        transform: translateY(24px);
                        transition: opacity 0.3s, transform 0.3s;
                    }

                    &:hover {
                        .nav-text-normal {
                            opacity: 0;
                            transform: translateY(-24px);
                        }

                        .nav-text-bold {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }

            .space-time-display {
                .data-containers {
                    display: flex;
                    gap: 2px;

                    .space-container {
                        display: flex;
                        padding: 12px;

                        .coordinate-group {
                            display: flex;
                            gap: 12px;

                            .x-group,
                            .y-group {
                                display: flex;
                                gap: 6px;
                                align-items: center;
                            }

                            .x-coordinate,
                            .y-coordinate {
                                display: flex;
                                gap: 0;
                            }
                        }
                    }

                    .time-container {
                        display: flex;
                        gap: 6px;
                        align-items: center;
                        padding: 12px;

                        .date-group {
                            display: flex;
                            gap: 2px;
                        }

                        .time-group {
                            display: flex;
                            gap: 2px;
                        }
                    }
                }
            }
        }
    }
}