.strongmind-content-layer {

    /* —— Design for Purpose: The Objective —— */
    .dfp-the-objective {

        .dfp-the-objective__container {
            position: relative;
            background: #e9f8f8;
            border: 4px solid #583e36;
            border-radius: 24px;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.12);
            padding: 40px;
            padding-inline-end: 48px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            overflow: visible;

            .dfp-the-objective__badge {
                position: absolute;
                top: -21px;
                right: -18px;
                aspect-ratio: 1;
                height: 88px;
                background: #14a9c3;
                border: 4px solid #583e36;
                border-radius: 50%;

                svg {
                    aspect-ratio: 1;
                    width: 64px;
                }
            }

            h2 {
                margin: 0;
                font-family: Nunito, Sniglet, system-ui, sans-serif;
                font-weight: 900;
                font-size: 27.65px;
                line-height: 1.12;
                color: #009290;
            }

            h3 {
                margin: 0;
                font-family: Nunito, Sniglet, system-ui, sans-serif;
                font-weight: 900;
                font-size: 19.2px;
                line-height: 1.12;
                color: #583e36;
            }

            p {
                margin: 0;
                font-weight: 300;
                line-height: 1.52;
                color: #583e36;
                max-width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}